$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
/**
  Bootstrap Overrides
 */
$primary: #17cf97;
$secondary: #0262f0;
$body-color: #081523;
